<!--  наследуемся от шаблона default.html, который мы создавали для flatpages -->
{% extends 'flatpages/default.html' %}


{% block title %}
posts
{% endblock title %}

<!-- В контенте на странице мы выводим все товары -->
{% block content %}
   <h1>Все новости и статьи</h1>
   <!-- Используем переданную из представления переменную time_now
   и применяем к ней фильтр date. По назначению этот фильтр очень похож
   на метод strftime у объекта datetime в Python — вывод времени
   в указанном формате. -->
   <!-- Вот так выглядело использование переменной и фильтра -->
   <!-- <h3>{{ time_now|date:'M d Y' }}</h3> -->
<!--Полная дата и время
    <h3>{{ time_now }}</h3>-->
    <!-- Если в переменной next_sale будет None,
   то выведется указанный в фильтре текст -->
   <!-- А вот так мы используем наш тег-->
   {# Добавляем форму, которая объединяет набор полей, которые будут отправляться в запросе #}
   <form action="" method="get">
       {# Переменная, которую мы передали через контекст, может сгенерировать нам форму с полями #}
       {{ filterset.form.as_p }}
       {# Добавим кнопку отправки данных формы #}
       <input type="submit" value="Найти" />
   </form>

   <hr>
   {% if posts %}
       <table>
           <tr>
               <td>Категория</td>
               <td>Заголовок</td>
               <td>Описание</td>
               <td>Дата написания</td>
               <td>Автор</td>
               <td>Рейтинг</td>
               <td>Подробности</td>

           </tr>

           <!-- Для каждого товара будете генерироваться новая строчка,
           т.е. новый HTML код, который указан в теле цикла.
           При этом сам цикл работает точно так же, как и в Python.
           post — переменная цикла, т.е. наш товар полученный из списка -->
           {% for post in posts %}
           <tr>
               <!-- Не забываем, что переменные в шаблоне ничем не отличаются
                от переменных в Python. Здесь также можно получать доступ к
                полям объекта модели. Например, здесь мы выводим имя,
                в следующем столбце описание, и т.д.  -->
               <td>{{ post.categoryType }}</td>
               <td>{{ post.title}}</td>
               <!-- Добавим специальный фильтр truncatechars,
                чтобы ограничить количество символов до 20.
                Все остальные символы превратятся в многоточие. -->
               <td>{{ post.text|truncatechars:20 }}</td>
               <td>{{ post.dateCreation }}</td>
               <td>{{ post.author.authorUser }}</td>
               <td>{{ post.rating }}</td>
               <td><button> <a href=/news/{{ post.id }}> Подробнее</a></button></td>
               <td><button> <a href="sub/">Подписаться на категорию</a> </button><td>
           </tr>
           {% endfor %}

       </table>
   {% else %}
       <h2>Статей/новостей нет!</h2>
   {% endif %}

   {% if page_obj.has_previous %}
       <a href="?page=1">1</a>
       {% if page_obj.previous_page_number != 1 %}
           ...
           <a href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
       {% endif %}
   {% endif %}

   {# Информация о текущей странице #}
   {{ page_obj.number }}

   {# Информация о следующих страницах #}
   {% if page_obj.has_next %}
       <a href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
       {% if paginator.num_pages != page_obj.next_page_number %}
           ...
           <a href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a>
       {% endif %}
   {% endif %}

{% endblock content %}