/pythonProject/new/project/
D1.6/project/fpages/__pycache__/admin.cpython-38.pyc
D1.6/project/project/__pycache__/settings.cpython-38.pyc
D1.6/project/project/__pycache__/urls.cpython-38.pyc
D1.6/project/project/__pycache__/wsgi.cpython-38.pyc
D5/simple_signup/protect/__pycache__/__init__.cpython-310.pyc
D5/simple_signup/protect/__pycache__/admin.cpython-310.pyc
D5/simple_signup/protect/__pycache__/apps.cpython-310.pyc
D5/simple_signup/protect/__pycache__/models.cpython-310.pyc
D5/simple_signup/protect/__pycache__/urls.cpython-310.pyc
D5/simple_signup/protect/__pycache__/views.cpython-310.pyc
D5/simple_signup/protect/migrations/__pycache__/__init__.cpython-310.pyc
D5/simple_signup/sign/__pycache__/__init__.cpython-310.pyc
D5/simple_signup/sign/__pycache__/admin.cpython-310.pyc
D5/simple_signup/sign/__pycache__/apps.cpython-310.pyc
D5/simple_signup/sign/__pycache__/models.cpython-310.pyc
D5/simple_signup/sign/__pycache__/urls.cpython-310.pyc
D5/simple_signup/sign/__pycache__/views.cpython-310.pyc
D5/simple_signup/sign/migrations/__pycache__/__init__.cpython-310.pyc
D5/simple_signup/simple_signup/__pycache__/__init__.cpython-310.pyc
D5/simple_signup/simple_signup/__pycache__/settings.cpython-310.pyc
D5/simple_signup/simple_signup/__pycache__/urls.cpython-310.pyc
D5/simple_signup/simple_signup/__pycache__/wsgi.cpython-310.pyc
pythonProject/Домашка.txt
pythonProject/Домашка2.txt
pythonProject/JS задачи.txt
pythonProject/Dtotal/advt/advtpost/advert/__pycache__/__init__.cpython-310.pyc
pythonProject/Dtotal/advt/advtpost/advert/__pycache__/admin.cpython-310.pyc
pythonProject/Dtotal/advt/advtpost/advert/__pycache__/apps.cpython-310.pyc
pythonProject/Dtotal/advt/advtpost/advert/__pycache__/filters.cpython-310.pyc
pythonProject/Dtotal/advt/advtpost/advert/__pycache__/forms.cpython-310.pyc
pythonProject/Dtotal/advt/advtpost/advert/__pycache__/models.cpython-310.pyc
pythonProject/Dtotal/advt/advtpost/advert/__pycache__/signals.cpython-310.pyc
pythonProject/Dtotal/advt/advtpost/advert/__pycache__/urls.cpython-310.pyc
pythonProject/Dtotal/advt/advtpost/advert/__pycache__/views.cpython-310.pyc
pythonProject/Dtotal/advt/advtpost/advert/migrations/__pycache__/__init__.cpython-310.pyc
pythonProject/Dtotal/advt/advtpost/advert/migrations/__pycache__/0001_initial.cpython-310.pyc
pythonProject/Dtotal/advt/advtpost/advert/migrations/__pycache__/0002_alter_post_user.cpython-310.pyc
pythonProject/Dtotal/advt/advtpost/advert/migrations/__pycache__/0003_newsmail.cpython-310.pyc
pythonProject/Dtotal/advt/advtpost/advert/templatetags/__pycache__/custom_filters.cpython-310.pyc
pythonProject/Dtotal/advt/advtpost/advert/templatetags/__pycache__/custom_tags.cpython-310.pyc
pythonProject/Dtotal/advt/advtpost/advtpost/__pycache__/__init__.cpython-310.pyc
pythonProject/Dtotal/advt/advtpost/advtpost/__pycache__/settings.cpython-310.pyc
pythonProject/Dtotal/advt/advtpost/advtpost/__pycache__/urls.cpython-310.pyc
pythonProject/Dtotal/advt/advtpost/advtpost/__pycache__/wsgi.cpython-310.pyc
pythonProject/Dtotal/NewsPaper/fpages/__pycache__/admin.cpython-38.pyc
pythonProject/Dtotal/NewsPaper/fpages/__pycache__/admin.cpython-310.pyc
pythonProject/Dtotal/NewsPaper/news/__pycache__/__init__.cpython-38.pyc
pythonProject/Dtotal/NewsPaper/news/__pycache__/__init__.cpython-310.pyc
pythonProject/Dtotal/NewsPaper/news/__pycache__/admin.cpython-38.pyc
pythonProject/Dtotal/NewsPaper/news/__pycache__/admin.cpython-310.pyc
pythonProject/Dtotal/NewsPaper/news/__pycache__/apps.cpython-38.pyc
pythonProject/Dtotal/NewsPaper/news/__pycache__/apps.cpython-310.pyc
pythonProject/Dtotal/NewsPaper/news/__pycache__/filters.cpython-38.pyc
pythonProject/Dtotal/NewsPaper/news/__pycache__/filters.cpython-310.pyc
pythonProject/Dtotal/NewsPaper/news/__pycache__/forms.cpython-38.pyc
pythonProject/Dtotal/NewsPaper/news/__pycache__/forms.cpython-310.pyc
pythonProject/Dtotal/NewsPaper/news/__pycache__/middlewares.cpython-310.pyc
pythonProject/Dtotal/NewsPaper/news/__pycache__/models.cpython-38.pyc
pythonProject/Dtotal/NewsPaper/news/__pycache__/models.cpython-310.pyc
pythonProject/Dtotal/NewsPaper/news/__pycache__/signals.cpython-310.pyc
pythonProject/Dtotal/NewsPaper/news/__pycache__/tasks.cpython-310.pyc
pythonProject/Dtotal/NewsPaper/news/__pycache__/translation.cpython-310.pyc
pythonProject/Dtotal/NewsPaper/news/__pycache__/urls.cpython-38.pyc
pythonProject/Dtotal/NewsPaper/news/__pycache__/urls.cpython-310.pyc
pythonProject/Dtotal/NewsPaper/news/__pycache__/views.cpython-38.pyc
pythonProject/Dtotal/NewsPaper/news/__pycache__/views.cpython-310.pyc
pythonProject/Dtotal/NewsPaper/news/management/commands/__pycache__/runapscheduler.cpython-310.pyc
pythonProject/Dtotal/NewsPaper/news/migrations/__pycache__/__init__.cpython-38.pyc
pythonProject/Dtotal/NewsPaper/news/migrations/__pycache__/__init__.cpython-310.pyc
pythonProject/Dtotal/NewsPaper/news/migrations/__pycache__/0001_initial.cpython-38.pyc
pythonProject/Dtotal/NewsPaper/news/migrations/__pycache__/0001_initial.cpython-310.pyc
pythonProject/Dtotal/NewsPaper/news/migrations/__pycache__/0002_category_subscribers.cpython-310.pyc
pythonProject/Dtotal/NewsPaper/news/migrations/__pycache__/0003_category_name_en_us_category_name_ru_post_text_en_us_and_more.cpython-310.pyc
pythonProject/Dtotal/NewsPaper/news/templatetags/__pycache__/custom_filters.cpython-38.pyc
pythonProject/Dtotal/NewsPaper/news/templatetags/__pycache__/custom_filters.cpython-310.pyc
pythonProject/Dtotal/NewsPaper/NewsPaper/__pycache__/__init__.cpython-38.pyc
pythonProject/Dtotal/NewsPaper/NewsPaper/__pycache__/__init__.cpython-310.pyc
pythonProject/Dtotal/NewsPaper/NewsPaper/__pycache__/celery.cpython-310.pyc
pythonProject/Dtotal/NewsPaper/NewsPaper/__pycache__/settings.cpython-38.pyc
pythonProject/Dtotal/NewsPaper/NewsPaper/__pycache__/settings.cpython-310.pyc
pythonProject/Dtotal/NewsPaper/NewsPaper/__pycache__/urls.cpython-38.pyc
pythonProject/Dtotal/NewsPaper/NewsPaper/__pycache__/urls.cpython-310.pyc
pythonProject/Dtotal/NewsPaper/NewsPaper/__pycache__/wsgi.cpython-38.pyc
pythonProject/Dtotal/NewsPaper/NewsPaper/__pycache__/wsgi.cpython-310.pyc
pythonProject/lec/project/fpages/__pycache__/admin.cpython-38.pyc
pythonProject/lec/project/project/__pycache__/__init__.cpython-38.pyc
pythonProject/lec/project/project/__pycache__/settings.cpython-38.pyc
pythonProject/lec/project/project/__pycache__/urls.cpython-38.pyc
pythonProject/lec/project/project/__pycache__/wsgi.cpython-38.pyc
