{% extends 'core/base.html' %}

{% load static %}

{% block title%}{{ room.name }} | {% endblock %}

{%block content%}

<div class='show-chat'> 
    <div id='#chat-messages'>
        {% for message in messages %}
            <div class='show-message'>
                <p> <img src='{{ message.user.chatuser.avatar.url }}' style='max-height:25px; max-length:25px; padding-right: 0.1rem;'> {{ message.user.username }}: </p>
                <p> {{ message.content }}</p>
            </div>
        {% endfor %}
    </div>
</div>
<div class='show-chat-input'>
    <form method='post' action='.'>
        <input type='text' name='content' placeholder='Сообщение...' id='#chat-message-input'>
        <button id='#chat-message-submit'>Send</button>
    </form>
</div>

{% endblock %}

{% block scripts %}

{{ room.slug|json_script:'json-roomname' }}
{{ request.user.username|json_script:'json-username' }}
{{ request.user.chatuser.avatar.url|json_script:'json-avatar' }}

<script>
    const userName = JSON.parse(document.getElementById('json-username').textContent);
    const roomName = JSON.parse(document.getElementById('json-roomname').textContent);
    const avatar = JSON.parse(document.getElementById('json-avatar').textContent);

    const chatSocket = new WebSocket(
        'ws://'
        + window.location.host
        + '/ws/'
        + roomName
        + '/'
    );

    chatSocket.onmessage = function(e) {
        console.log('onmessage')

        const data = JSON.parse(e.data);

        if (data.message) {
            let avatar_data = `<img src='${data.avatar}' style='max-height:25px; max-length:25px; padding-right: 0.5rem;'>`
            let html = "<div class='show-message'>";
                html += "<p>" + avatar_data + data.username + ":</p>";
                html += "<p>" + data.message + "</p></div>";
            
            document.getElementById('#chat-messages').innerHTML += html;
            
            scrollToBottom()

        } else {
            alert('Пустое сообщение')
        }
    }

    chatSocket.onclose = function(e) {
        console.log('onclose')
    }

    document.getElementById('#chat-message-submit').onclick = function(e) {

        e.preventDefault();

        const messageInputDom = document.getElementById('#chat-message-input');
        const message = messageInputDom.value;

        chatSocket.send(JSON.stringify({
            'message': message,
            'username': userName,
            'room': roomName,
            'avatar': avatar
        }))

        messageInputDom.value = '';

        return false
    };

    function scrollToBottom() {
        const objDiv = document.getElementById('#chat-messages');
        objDiv.scrollIntoView({block: "end"});
    }

    scrollToBottom()

</script>
{% endblock %}