{% extends 'flatpages/default.html' %}

{% load custom_filters %}   

<!--{% load static %}-->

{% block title %}
posts
{% endblock title %}

{% block content %}
   <h1>Все обьявления</h1>
   <hr>
{% if posts %}
    <table>
        <tr>
            <td>Категория</td>
            <td>Заголовок</td>
            <td>Описание</td>
            <td>Дата написания</td>
            <td>Подробности</td>
            <td>Операции</td>
        </tr>
        {% for post in posts %}
            {% if post.user == request.user %}
                <tr>
                    <!-- Не забываем, что переменные в шаблоне ничем не отличаются
                     от переменных в Python. Здесь также можно получать доступ к
                     полям объекта модели. Например, здесь мы выводим имя,
                     в следующем столбце описание, и т.д.  -->
                    <td>{{ post.category }}</td>
                    <td>{{ post.title}}</td>
                    <!-- Добавим специальный фильтр truncatechars,
                     чтобы ограничить количество символов до 20.
                     Все остальные символы превратятся в многоточие. -->
                    <td>{{ post.text|truncatechars:20 }}</td>
                    <td>{{ post.dateCreation }}</td>
                    <td><button> <a href=/posts/{{ post.id }}> Подробнее</a></button></td>
                    <td><button onclick=location.href="/posts/{{post.id}}/delete/">Delete</button></td>
                    <td><button onclick=location.href="/posts/{{post.id}}/update/">Edit</button></td>
                </tr>
            {% endif %}
        {% endfor %}
    </table>

{% else %}
    <h2>Вы ещё не создавали обьявления!</h2>
{% endif %}

{% endblock content %}