{% extends 'flatpages/default.html' %}

{% block content %}
    {% if post %}
        <h1>{{ post.title|safe }}
        <p>
        <h3>{{ post.text|safe }}
        <p>
        <hr>
        {% for r in responses %}
        <h1>{{r.response_user}}
        <p>
        <h3>{{r.text|safe}}
        <button onclick=location.href="/board/response/{{r.id}}/delete/">Delete</button>
            {%if r.accepted == False %}
                <button onclick=location.href="/board/response/{{post.id}}/accept/">Accept</button>
            {% else %}
                <button disabled onclick=location.href="/board/response/{{post.id}}/accept/">Accepted</button>
            {% endif %}
            <hr>
        {% endfor %}
    {% endif %}


   {% if page_obj.has_previous %}
       <a href="?page=1">1</a>
       {% if page_obj.previous_page_number != 1 %}
           ...
           <a href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
       {% endif %}
   {% endif %}

   {# Информация о текущей странице #}
   {{ page_obj.number }}

   {# Информация о следующих страницах #}
   {% if page_obj.has_next %}
       <a href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
       {% if paginator.num_pages != page_obj.next_page_number %}
           ...
           <a href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a>
       {% endif %}
   {% endif %}

{% endblock content %}