{% extends 'flatpages/default.html' %}
{% load static %}

{% block title %}
posts
{% endblock title %}

{% block content %}
<h1>Просмотр обьявления № {{ post.id  }}</h1>
<table border="1" style="text-align:center">
           <tr>
               <td><b>Категория</b></td>
               <td><b>Заголовок</b></td>
               <td><b>Описание</b></td>
               <td><b>Дата написания</b></td>
               <td><b>Автор</b></td>
               <td><b>Контент</b></td>
               {% if post.user == request.user %}
                   <td><b>Операции</b></td>
               {% else %}
                   <td><b>Подписка</b></td>
               {% endif %}
           </tr>
           <tr>
               <td>{{ post.category }}</td>
               <td>{{ post.title}}</td>
               <td>{{ post.text}}</td>
               <td>{{ post.dateCreation}}</td>
               <td>{{ post.user.username}}</td>
               {% if post.content%}
                   <td><a href="/posts{% get_media_prefix %}{{post.content}}"> Контент обьявления</a></td>
               {% else %}
                   <td>отсутствует</td>
               {% endif %}
               {% if post.user == request.user %}
                   <td><button onclick=location.href="/posts/{{post.id}}/delete/">Удалить</button> <button onclick=location.href="/posts/{{post.id}}/update/">Изменить</button></td>
               {% else %}
                   <td><button onclick=location.href="/posts/{{post.id}}/otclick/">Откликнуться</button></td>
               {% endif %}
           </tr>

       </table>
{% endblock content %}