{% extends 'flatpages/default.html' %}

{% block title %}
post
{% endblock title %}

{% block content %}
<h1>{{ post }}</h1>
<table>
    <tr>
        <td>Категория</td>
        <td>Заголовок</td>
        <td>Описание</td>
        <td>Дата написания</td>
        <td>Автор</td>
    </tr>
    <tr>
        <!-- Не забываем, что переменные в шаблоне ничем не отличаются
         от переменных в Python. Здесь также можно получать доступ к
         полям объекта модели. Например, здесь мы выводим имя,
         в следующем столбце описание, и т.д.  -->
        <td>{{ post.category }}</td>
        <td>{{ post.title}}</td>
        <td>{{ post.text}}</td>
        <td>{{ post.dateCreation|date:'d M Y' }}</td>
        <td>{{ post.author.authorUser }}</td>
    </tr>

</table>
{% endblock content %}