
<!DOCTYPE html>
{% load static %} <!-- загрузка стилей из папки static-->
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Доска обьявлений</title>
        <!-- Favicon-->

        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="{% static 'css/styles.css' %}" rel="stylesheet" />
    </head>
    <body>
        <!-- Responsive navbar-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
           <div class="container">
               <a class="navbar-brand" href="#">Доска обьявлений</a>
               <button class="navbar-toggler" type="button" data-toggle="collapse"
                       data-target="#navbarResponsive"
                       aria-controls="navbarResponsive" aria-expanded="false"
                       aria-label="Toggle navigation">
                   <span class="navbar-toggler-icon"></span>
               </button>
               <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="/admin/">Вход для АДМИНИСТРАТОРА</a>
                        </li>
                        {% if user.is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-link" href="/board/post/create/">Создать обьявление</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="/accounts/profile/">Мои обьявления</a>
                        </li>
                        {% endif %}
                    </ul>
                    {% if user.is_authenticated %}
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="/accounts/logout/">Выйти</a>
                        </li>
                    </ul>
                    <a class="nav-link" href="/accounts/profile/">Кабинет {{request.user.username}}</a>
                    {% else %}
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="/accounts/login/">Войти</a>
                        </li>
                    </ul>
                    {% endif %}
                </div>
           </div>
        </nav>
        <!-- Page content-->
        <div class="container">
           <div class="row">
               <div class="col-lg-12 text-center">
                   {% block content %}
                   {{ flatpage.content }}
                   {% endblock content %}
               </div>
           </div>
</div>
    </body>
</html>
