<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{% block title %} {% endblock %} </title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script ></script>
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"/>
    </head>

    <body>
        <nav>
            <div>
                <a href="/" class="nav-title">DjangoChat</a>
            </div>

            <div class="nav-name">
                {% if request.user.is_authenticated %}
                    <h1>Вошли как {{ request.user.username }}</h1>
                {% else %}
                    <h1 style='padding-right: 10rem;'>Авторизуйтесь или зарегистрируйтесь</h1>
                {% endif %}
            </div>

            <div class="nav-buttons">
                {%if request.user.is_authenticated %}
                    <img src='{{ request.user.chatuser.avatar.url }}' style='max-height:50px; max-length:50px; padding-right: 0.75rem;'>
                    <a href="/profile/" class="nav-buttons-login">Личные данные</a>
                    <a href="/rooms/" class="nav-buttons-login">Комнаты</a>
                    <a href="/logout/" class="nav-buttons-signup">Выйти</a>
                {% else %}
                    <a href="/login/" class="nav-buttons-login">Войти</a>
                    <a href="/signup/" class="nav-buttons-signup">Регистрация</a>
                {% endif %}
            </div>
        </nav>
        {% block content %}
        {% endblock %}

        {%block scripts %}
        {% endblock %}
    </body>
</html>